<!-- FOOTER -->
<footer  >
    <div class="row justify-content-between" >
        
        <div class="col-sm-4 d-flex flex-column align-items-center">
            <a href="https://wwww.facebook.com">Facebook</a>
            <a href="https://wwww.twitter.com">Twitter</a>
            <a href="https://wwww.instagram.com">Instagram</a>
        </div>
        
        <div class="col-sm-4 d-flex flex-column align-items-center">
            <p>ALARSA S.A</p>
            <p>Oficinas Centrales</p>
            <p>San Ramon, Alajuela, Costa Rica</p>
            <p 100 metros norte de la Parroquia</p>
            <p>2445-4073</p>
        </div>

        <div class="col-sm-4 d-flex flex-column align-items-center">
            <a href="#">Nosotros</a>
            <a href="#">Términos y condiciones</a>
            <a href="#">Contacto</a>
        </div>
    </div>
</footer>

    