<form action="/agregarLista" method=POST class="card">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="lugar">Lugar</label>
    <input type="text" name="lugar" id="lugar">
    <label for="fecha">Fecha</label>
    <input type="text" name="fecha" id="fecha">
    <label for="estado">Estado</label>
    <input type="text" name="estado" id="estado">
    <label for="imagen">Imagen</label>
    <input type="text" name="imagen" id="imagen">
    <input type="submit" value="Guardar ->" class="button">
</form>

