<form action="/agregarProducto" method=POST class="card">
    <label for="name">Nombre</label>
    <input type="text" name="nombre" id="nombre">
    <label for="lugar">Descripcion</label>
    <input type="text" name="descripcion" id="descripcion">
    <label for="fecha">Precio</label>
    <input type="text" name="precio" id="precio">
    <label for="estado">Cantidad</label>
    <input type="text" name="cantidad" id="cantidad">
    <label for="imagen">Imagen</label>
    <input type="text" name="imagen" id="imagen">
    <input type="submit" value="Guardar ->" class="button">
</form>
