<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" >

        <div class="carousel-item active" data-interval="1000" >
            <img class="d-block ml-5 " src="http://localhost:3000/images/verano1900x500.PNG" alt="Imagem de verano">
        </div>
        <div class="carousel-item" data-interval="1000">
            <img class="d-block ml-5" src="http://localhost:3000/images/bebes1900x500.PNG" alt="Imagem de bebes">
        </div>
        <div class="carousel-item" data-interval="1000" >
            <img class="d-block ml-5 " src="http://localhost:3000/images/departamentos1900x500.PNG">
        </div>
        
    </div>
    <a class=" carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>