
  
    <h3>Nuestras listas de bodas</h3>
    <div class="container" style="width:100%">
        <div class="card-columns" style="width: 100%" >
    
            {{# each listas}} 

                {{> tarjetaLista}}
        
            {{/each}} 

        </div>
    </div>
