  <h3 style="text-align: center; margin: 25px 100px 25px 100px;"</h3>
    <div class="container-fluid" style="width:100%">
        <div class="card-columns" style="width: 100%" >
    
            {{# each productos}} 

                {{> tarjetaProducto}}
        
            {{/each}} 

        </div>
    </div>